# Eclipse project files
.classpath
.project
.settings/

# Java build folders
/bin/
/target/

# Test output (JUnit, TestNG, etc.)
test-output/
surefire-reports/
*.log

# Maven specific
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp